main{
    margin-top: 3.5em;
    margin-left: 0;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50em;
    height: 25em;
}

.swiper-wapper {
    display: flex;
    justify-content: space-evenly;
    margin: 1em
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em hsla(0, 0%, 0%, 0.1);
    margin: 0 25em;
    transition: transform 0.3s;
}

.swiper-slide img {
    width: 25em;
    height: auto;
    border-radius: 1em;
}