html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Fonts */
body {
    font-family: 'Lora', serif;
  }
  
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
  
  h4, h5, h6, .subtitle {
    font-family: 'Josefin Sans', sans-serif;
  }

  .cursive {
    font-family: 'Dancing Script', cursive;
  }

/* Colors */
body {
  background-color: hsla(21.29, 16.76%, 63.73%, 1);
  margin: 0;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 3.5em;
  margin: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.5em 0.5em 1em hsla(0, 0%, 0%, 0.1);
  z-index: 100;
}

header img {
  margin: 0 1em;
  height: 2.5em;
}
nav {
  display: flex;
  height: 1.3em;
  width: auto;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  margin: 0 1em;
  transition: color 0.3s ease-in-out;
  text-shadow: 1px 1px 1px hsl(21.29, 16.76%, 63.73%);
}

nav a:hover {
  color: hsl(0, 0%, 50%);
}

nav a.active {
  color: hsl(0, 0%, 50%);
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav li {
  margin: 0 1em;
}


/* Scroll */

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb{
	background-color: hsl(21.29, 16.76%, 63.73%);
	outline: 2px solid hsl(0, 0%, 100%);
	outline-offset: -2px;
	border: .1px solid hsl(330, 4.76%, 91.76%);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover{
	background-color: hsl(330, 4.76%, 91.76%);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  margin: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.5em 0.5em 1em hsla(0, 0%, 0%, 0.1);
  z-index: 100;
}

footer ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}

footer li {
  margin: 0 1em;
  .cursive {
    font-size: 1.5em;
  }
}

footer a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  transition: color 0.3s ease-in-out;
  text-shadow: 1px 1px 1px hsl(21.29, 16.76%, 63.73%);
}

footer a img {
  height: 2em;
  width: 2em;
}


footer a:hover {
  color: hsl(0, 0%, 50%);
}

footer p {
  margin: 0 1em;
}